<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131293816969-pfmgsb27ugb900a6irmq9mjoh6ss2vq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131293816969-pfmgsb27ugb900a6irmq9mjoh6ss2vq0</string>
	<key>API_KEY</key>
	<string>AIzaSyCqfTdH5BtW45rubR3KGOlhDGBjClf4X98</string>
	<key>GCM_SENDER_ID</key>
	<string>131293816969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.or.connect.boostcamp.BoostAttendance</string>
	<key>PROJECT_ID</key>
	<string>bookathon-boostattendance</string>
	<key>STORAGE_BUCKET</key>
	<string>bookathon-boostattendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:131293816969:ios:1d5b50f79ae5c523ca7e58</string>
</dict>
</plist>
